* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.box__color-switcher,
.box__timer,
.box__promise-generator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box__color-switcher > button,
.box__timer button,
.box__promise-generator button {
  padding: 10px 30px;
  height: 40px;
  background-color: #fff;
  text-transform: uppercase;
  border: lightgray 1px solid;
  min-width: 100px;
}
.box__promise-generator button {
  min-width: auto;
  white-space: nowrap;
}

.box__color-switcher > button {
  margin: 0 10px;
}

button:hover,
button:focus {
  background-color: rgb(60, 202, 202);
  color: #fff;
}

[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* timer */
.date-picker-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input {
  height: 40px;
  width: 100%;
  padding: 10px;
}

.value {
  font-size: 60px;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
}

/* promise generator styles */
.form {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
